.Weather {
  border: 1px solid #70757a;
  font-family: arial, sans-serif;
  border-radius: 4px;
  margin: 30px auto;
  padding: 16px;
  color: rgb(31, 23, 23);

}

.weather h1 {
  font-size: 25px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;

}


.weather ul {
  margin: 0;
  padding: 0;
  
  
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
   list-style-type: none;
 

}

.weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;

}